# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# General Python ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Environment variables and virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Django specific
backend/db.sqlite3
backend/staticfiles/
backend/media/
backend/.env

# Migrations
backend/**/migrations/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Log files
*.log

# Local settings
backend/backend/settings_local.py

# IDE files (optional, depending on the IDE you use)
.vscode/
.idea/

# System files (optional)
.DS_Store
Thumbs.db
